* {
  margin: 0;
}

#container {
}

#principal {
  width: 100%;
  height: 80vw;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  background-size: contain;
  background-image: url("https://wallpaperaccess.com/full/260164.jpg");
}

#principal form {
  width: 250px;
  display: grid;
  gap: 5px;
  padding-bottom: 15px;
  text-align: center;
}

#principal h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
#container button {
  width: 250px;
}

#lista {
  margin-bottom: 15px;
  padding-left: 20px;
  padding-top: 5px;
}
#listatotal {
  margin-bottom: 15px;
  background-color: white;
  display: flex;
  width: 200px;
  height: 100px;
  border-radius: 5%;
  border: 5px solid black;
  list-style-type: none;
  box-shadow: 5px 5px black;
}

#listatotal button {
  width: 150px;
}


#listatotal p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


#listatotal input {
  border: 0
}


