#container {
}

#principal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* #principal h1 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 10px 5px 5px #0e0e0e;
  width: 550px;
  border-radius: 5%;
}
 */
#principal form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  padding-bottom: 15px;
}

#principal button {
    width: 220px;

}
